@font-face {
    font-family: 'MySans';
    src: url('../fonts/times_sans_serif-webfont.woff2') format('woff2'),
         url('../fonts/times_sans_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}


.container.gallery-container {
    background-color:black;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 10px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.tz-headline {
    margin-bottom: 20px;
}

.tz-headline-freeman {
    background-color: #FFFFFF;
}

.tz-logo {
    padding-left: 15px;
}

.headline-img {
    max-width:100%;
    width: 100%;
}

.news-title{
    background-color: white;
    color: black;
    font-family: 'MySans';
    font-size: 40px;
    text-align: center;
    padding: 10px;
    font-weight: 100;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}